/* font-family: 'Indie Flower', cursive;
font-family: 'Pushster', cursive;*/
 body {
    background-color: lightblue;
  }
p{
    color:rgb(0, 0, 0);
    font-family: 'Indie Flower', cursive;    
        text-align: center;
    width: 900px;
    background: #7F7FD5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 15px 10px 10px rgb(63, 63, 63);
    border-radius: 10px 10px 10px 10px;
}
#experiencia{
    color: rgb(0, 0, 0);
    font-family: 'Indie Flower', cursive;    
    text-align: center;
    width: 900px;
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 15px 10px 10px rgb(63, 63, 63);
    border-radius: 10px 10px 10px 10px;
}
.titulos{
    font-family: 'Pushster', cursive;    
    font-style: italic;
    font-size: large;
    width: 900px;
    background: #b92b27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        text-align: center;
        box-shadow: 15px 10px 10px rgb(63, 63, 63);
        border-radius: 10px 10px 10px 10px;
    }
div {
    background-color: rgb(130, 121, 255);
  }
.icono
{font-size: 50px;
color: midnightblue;}