<h2>Página donde se actualizaran las novedades</h2>
<p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi minima, perferendis quibusdam saepe nemo doloribus. Doloribus fuga non, sint delectus aspernatur illum deserunt illo officiis, maxime voluptatum enim. Maxime, quasi?</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam, tempore rerum. Quasi ut nobis deleniti et fugiat vitae voluptatum illo soluta obcaecati quod voluptates accusamus, tenetur dignissimos est voluptatibus aut?</p>
