body{
  line-height: 20px;
      background-image: url('../public/images/fondo.jpg');
      background-repeat:no-repeat;
      background-size:cover;
}

.holder{
  width: 960px;
  margin: 0 auto;
}

.left{
  float: left;
}

.right{
  float: right;
}