

nav{
    background-color: rgb(195, 135, 235);
    margin-bottom: 2em;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    width: 16.3%;
}

nav ul li a{
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.2em 0.4em;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
}

nav ul li a:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

nav ul li a.activo{
    background-color: #4e0255;
}