



.servicio{
    border: 1px solid gray;
    border-radius: 0.7em;
    margin: 1em 0;
    padding: 1em;
    overflow: hidden;
}

.servicio .info{
    width: 75%;
}

.servicio .info h4{
    color: lightcoral;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 500;
    margin: 0 0 1em;
    border-bottom: 1px solid lightcoral;
    padding-bottom: 0.5em;
}

.servicio .info p{
    font-size: 0.8em;
    line-height: 1.2em;
}

.servicio img{
    border-radius: 0.8em;
}

.servicio:nth-child(even) .info{
    float: left;
}

.servicio:nth-child(odd) img{
    float: left;
    margin: 0 1em 0 0;
}

.servicio:nth-child(odd) .info{
    float: right;
}

.galeria .foto{
    float: left;
    width: 18%;
    margin: 1em 0 1em 2.5%;
    border: 1px solid #ddd;
    padding: 0.3em;
    box-sizing: border-box;
}

.galeria .foto img{
    width: 100%;
    display: block;
}

.galeria .foto:nth-child(5n+1){
    margin-left: 0;
}

.columna{
    width: 50%;
    box-sizing: border-box;
    padding: 0.6em;
    background-color: rgba(245, 222, 179, 0.5);
}

.columna .left{
    border-right: 1px solid gray;
}

.columna .right p{
    font-size: 0.9em;   
}

.columna .right ul li {
    font-size: 0.8em;
}

