.cuadrado1 {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-color: black;
    border-style: solid;
    background-color: red;
    cursor: pointer;
}

.cuadrado2 {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-color: black;
    border-style: solid;
    background-color: green;
    cursor: pointer;
}

.cuadrado3 {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-color: black;
    border-style: solid;
    background-color: blue;
    cursor: pointer;
}

.cuadrado4 {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-color: black;
    border-style: solid;
    background-color: white;
    cursor: pointer;
}

.fondo {
    background: whitesmoke;
}

.fondo.rojo {
    background: red;
}

.fondo.verde {
    background: green;
}

.fondo.azul {
    background: blue;
}


.cuadrado.borde {
    border: 2px solid black;
}

      